footer
{
    font-family:'Roboto',sans-serif;
}

.magenta
{ 
    color:#D81B60; 
} 

#reg
{
    background-color: #D81B60;
    font-family:'Roboto',sans-serif;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 8px 80px;
    font-size: 12px;
}